{% extends "::base.html.twig" %}

{% block title %}UtahSpjAwardsBundle:Section:list{% endblock %}

{% block body %}
    <h2>Section: {{ section.title }}</h2>
    {% if section.entries %}
        <table class="table">
            <tr><th>ID</th><th>Title</th><th>URL</th><th></th></tr>
        {% for entry in section.entries %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.title }}</td>
                <td><a href="{{ entry.url }}">{{ entry.url }}</a></td>
                <td><a href="{{ path('utah_spj_awards_entry_view',{id:entry.id}) }}">View</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
